# Subject
subject.pdf
*subject.pdf

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
webserv
Webserv
WebServ
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
doxy-log-err.txt
doxy-log.txt

# debug information files
*.dwo

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Clangd files
compile_flags.txt
compile_commands.json
.clangd
**/*.gch
**/*.gdb_history
**/*.swp
**/*.swo

# VSCode files
**/*.clang
**/*.code
**/*.vscode
**/*.cache
